<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jjnProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TimeManager</servlet-name>
    <servlet-class>manager.TimeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeManager</servlet-name>
    <url-pattern>/TimeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimeTableManager</servlet-name>
    <servlet-class>manager.TimeTableManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableManager</servlet-name>
    <url-pattern>/TimeTableManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrainManager</servlet-name>
    <servlet-class>manager.TrainManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainManager</servlet-name>
    <url-pattern>/TrainManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatCityManager</servlet-name>
    <servlet-class>manager.StatCityManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatCityManager</servlet-name>
    <url-pattern>/StatCityManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DestCityManager</servlet-name>
    <servlet-class>manager.DestCityManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestCityManager</servlet-name>
    <url-pattern>/DestCityManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseManager</servlet-name>
    <servlet-class>manager.CloseManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseManager</servlet-name>
    <url-pattern>/CloseManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateManager</servlet-name>
    <servlet-class>manager.DateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateManager</servlet-name>
    <url-pattern>/DateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreManager</servlet-name>
    <servlet-class>manager.ScoreManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreManager</servlet-name>
    <url-pattern>/ScoreManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FreeManager</servlet-name>
    <servlet-class>manager.FreeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeManager</servlet-name>
    <url-pattern>/FreeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MealManager</servlet-name>
    <servlet-class>manager.MealManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealManager</servlet-name>
    <url-pattern>/MealManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SleepManager</servlet-name>
    <servlet-class>manager.SleepManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SleepManager</servlet-name>
    <url-pattern>/SleepManager</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SaveManager</servlet-name>
    <servlet-class>manager.SaveManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveManager</servlet-name>
    <url-pattern>/SaveManager</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>SelectRouteManager</servlet-name>
    <servlet-class>manager.SelectRouteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRouteManager</servlet-name>
    <url-pattern>/SelectRouteManager</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DeleteRouteManager</servlet-name>
    <servlet-class>manager.DeleteRouteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRouteManager</servlet-name>
    <url-pattern>/DeleteRouteManager</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Login_company</servlet-name>
    <servlet-class>manager.Login_company</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_company</servlet-name>
    <url-pattern>/Login_company</url-pattern>
  </servlet-mapping>
  <servlet>
       <servlet-name>Login_traveler</servlet-name>
    <servlet-class>manager.Login_traveler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_traveler</servlet-name>
    <url-pattern>/Login_traveler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationManager_T</servlet-name>
    <servlet-class>manager.RegistrationManager_T</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationManager_T</servlet-name>
    <url-pattern>/RegistrationManager_T</url-pattern>
  </servlet-mapping>
  <servlet>

    <servlet-name>RegistrationManager_C</servlet-name>
    <servlet-class>manager.RegistrationManager_C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationManager_C</servlet-name>
    <url-pattern>/RegistrationManager_C</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewUserManager</servlet-name>
    <servlet-class>manager.ViewUserManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserManager</servlet-name>
    <url-pattern>/ViewUserManager</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewOtherRouteManager</servlet-name>
    <servlet-class>manager.ViewOtherRouteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOtherRouteManager</servlet-name>
    <url-pattern>/ViewOtherRouteManager</url-pattern>
  </servlet-mapping>
</web-app>